@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 210 29% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 215 28% 17%;
    --muted: 220 14% 96%;
    --muted-foreground: 215 20% 65%;
    --accent: 0 91% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 210 29% 24%;
    --radius: 0.5rem;
    --chart-1: 210 29% 24%;
    --chart-2: 220 14% 96%;
    --chart-3: 0 91% 71%;
    --chart-4: 215 28% 17%;
    --chart-5: 220 13% 91%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 0 0% 100%;
    --card: 215 28% 17%;
    --card-foreground: 0 0% 100%;
    --popover: 215 28% 17%;
    --popover-foreground: 0 0% 100%;
    --primary: 210 29% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 215 28% 17%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 0 91% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 210 29% 24%;
    --chart-1: 210 29% 24%;
    --chart-2: 220 14% 96%;
    --chart-3: 0 91% 71%;
    --chart-4: 215 28% 17%;
    --chart-5: 220 13% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
